https://32.192.33.122 {
    tls /etc/letsencrypt/live/32.192.33.122/fullchain.pem /etc/letsencrypt/live/32.192.33.122/privkey.pem

    handle /api/* {
        reverse_proxy backend:3000
    }

    handle {
        reverse_proxy frontend:3000
    }
}

http://32.192.33.122 {
    redir https://32.192.33.122{uri} permanent
}